* {
    padding: 0;
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.button {
    width: fit-content;
    letter-spacing: 2px;
    padding: 25px 30px;
    border-radius: 4px;
}
.button:hover {
    border-radius: 0;
}
.primary-button {
    background-color: #D97025;
}
.secondary-button {
    background-color: white;
}
.white-text {
    color: white;
}
.black-text {
    color: black;
}
.right-text {
    text-align: right;
}
.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.giant-font {
    font-weight: 700;
    font-size: 100px;
}
.big-font {
    font-weight: 700;
    font-size: 34px;
}
.align-center {
    margin: auto 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 5%;
    height: 130px;
    background-color: #031D40;
}
.header .header-logo {
    height: 80%;
}
.header .header-logo img{
    height: 100%;
}
.header .header-nav {
    display: flex;
    justify-content:space-around;
}
.header-nav .nav-item {
    padding: 0 1.5vw;
}
.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px,43vw), 1fr));
    grid-gap: 24px 40px;
    padding: 4vw 0;
    margin: 0 5vh;
}
.box .box-item {
    text-align: -webkit-center;
}

.footer {
    background-color: #051D40;
    padding: 4vw 12vw;
    display: flex;
}
@media screen and (max-width: 980px) {
	.footer {
		flex-direction: column;
	}
	.left-block, .mid-block, .right-block {
		width: 100% !important;
	}
}
.footer .left-block {
    width: 30%;
    font-size: 14px;
    padding-right: 8%;
    font-family: 'Anonymous Pro',monospace;
    font-weight: 700;
}

.footer .mid-block{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer .mid-block a {
    font-family: 'Anonymous Pro',monospace;
    text-decoration: none;
    font-size: 17px;
    font-weight: 70;
}
.footer .right-block {
    width: 40%;
}

.footer .right-block .block-text {
    font-family: 'Anonymous Pro',monospace;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 1.4em;
}

.footer .right-block .button-wrap {
    display: flex;
    flex-direction: row-reverse;
}

.footer .right-block .social {
    display: flex;
    flex-direction: row-reverse;
}

.footer .right-block .round {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin: 16px 4px;
}
.top-image {
	width: 100%;
}

.top-image img{
	width: 100%;
}
.small-line {
    width: 50px;
    height: 3px;
    background-color: #ec8c22;;
}
.full-line {
	width: 100%;
	height: 1px;
}

.white-bg {
	background-color: white;
}

.orange-bg {
	background-color: #ec8c22;
}

.underline {
    text-decoration: underline;
}